@charset "utf-8";
/* list.gallery_msnry.html */
.js-masonry:after{content:"";display:block;clear:both;}
.item-msry {float:left;}
.list__gallery_masonry .item-msry{-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.list__gallery_masonry .view {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
}
.list__gallery_masonry .view .mask {
    position: absolute;
    padding:10px;
    overflow: hidden;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
}
.list__gallery_masonry .view img {
    display: block;
    position: relative
}
.list__gallery_masonry .view h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
}
.list__gallery_masonry .view p {
    font-size: 12px;
    position: relative;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
}
.list__gallery_masonry .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
